h1 {
    font-weight: bold;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.destacado {
    background-color: tomato;
    border: 3px solid red;
}

#principal {
    font-family: 'Courier New', Courier, monospace;
}